body {
    font-family: Arial, sans-serif;
    background-image: url('pai.png'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #ffffffb7;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"].correct {
    background-color: lightgreen;
}

input[type="text"].incorrect {
    background-color: lightcoral;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #057eff;
    color: #ffffff;
    font-size: 16px;
}

button:hover {
    background-color: #044c99de;
}

#timer {
    margin-top: 20px;
    font-size: 18px;
    color: #f0d8d8;
}
